header
  position: fixed
  z-index: 9
  top: 0
  left: 0
  width: 100%
  padding-top: 8.5vh
  .container
    display: flex
    align-items: flex-end
    width: 100%
    max-width: 1600px
    margin: auto
  .logo
    display: block
    width: 32px
    transition: filter var(--trans-m)
  nav
    display: flex
    align-items: center
    margin-left: auto
    .link
      font-family: $Brief
      font-size: px(12)
      letter-spacing: .1em
      padding: 5px
      margin: -5px
      cursor: pointer
      & + .link
        margin-left: 30px
