@import ./../base/variables
@import ./../base/mixin


.bg-cover
  position: fixed
  z-index: -1
  top: 0
  left: 0
  width: 100%
  height: 100vh
  .color-wrap
    z-index: -1
    background-color: #000
    +posFill
    &.profile-bg
      opacity: .6
    &.works-bg
      opacity: 0
      transition: opacity var(--trans-l)
      &.show
        opacity: .9
  .image-wrap
    position: relative
    z-index: -2
    width: 100%
    height: 100%
    transform-origin: 37% 25%
    +rwdmax(1024)
      transform-origin: 50% 49%
    +rwdmax(767)
      transform-origin: 10% 80%
    &::before
      background: radial-gradient(circle at center, transparent 0%, transparent 20%, #111)
      +posFill
      +pseudo
    .image
      position: absolute
      z-index: -1
      top: 0
      left: 0
      // opacity: 0
      filter: grayscale(1)
    .desktop
      transform: scale(4.5) rotate(10deg)
      transform-origin: 51.9% 70%
      +fit($pos: center bottom)
      +rwdmax(1024)
        display: none
    .tablet
      display: none
      transform: scale(2.5) rotate(10deg)
      // transform-origin: 65.5% 83%
      +fit
      +rwdmax(1024)
        display: block
      +rwdmax(767)
        display: none
    .mobile
      display: none
      transform: scale(4.8) rotate(-12deg)
      transform-origin: 65.5% 83%
      +fit
      +rwdmax(767)
        display: block


// intro
section.intro
  position: relative
  height: 140vh
  .scroll-detect
    position: absolute
    top: 8%
    left: 0
  .about-anchor
    position: absolute
    top: 40vh
    left: 0
  .bg-wrap
    position: sticky
    top: 0
    left: 0
    z-index: 1
    width: 100%
    height: 100vh
    overflow: hidden
    perspective: 500
  .intro-wrap
    z-index: 2
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    transform-origin: 51.9% 70%
    +posFill
    +rwdmax(1024)
      transform-origin: 50% 50%
    +rwdmax(767)
      transform-origin: 65.5% 83%
    .title
      position: relative
      width: 90%
      &.white
        color: var(--white)
      p
        font-size: clamp(72px, 9vw, 100px)
        font-weight: 500
        text-align: center
        +rwdmax(767)
          font-size: px(48)
        &:not(:first-child)
          width: 90%
          +posCenter
        &.active
          .letter
            opacity: 1
            transform: translate(0, 0)
        &.hidden
          .letter
            opacity: 0
            transform: translate(0, -100%)
    .brief
      margin-top: 10px
      &.white
        color: var(--white)
      p
        font-size: px(24)
        letter-spacing: .1em
        text-align: center
        &.active
          .letter
            opacity: 1
            transform: translate(0, 0)
        &.hidden
          .letter
            opacity: 0
            transform: translate(0, -100%)
        .letter
          line-height: 1.5
  .profile-wrap
    z-index: 3
    transform: scale(.44) rotate(5deg)
    transform-origin: 37% 25%
    opacity: 0
    padding-top: 10vh
    padding-bottom: 10vh
    +posFill
    +rwdmax(1024)
      transform: scale(.65) rotate(8deg)
      transform-origin: 50% 49%
    +rwdmax(767)
      transform: scale(.3) rotate(-8deg)
      transform-origin: 10% 80%
    .container
      height: 100%
    .profile-content
      display: flex
      align-items: center
      height: 100%
      padding-top: 8vh
      padding-bottom: 10vh
      margin-top: -22px
      +rwdmax(1024)
        padding-top: 15vh
    .content-wrap
      display: flex
      align-items: flex-start
      width: 90%
      max-width: 840px
      margin-left: auto
      +rwdmax(1024)
        display: block
    .photo-box
      position: relative
      z-index: -1
      width: 200px
      +rwdmax(1440)
        width: 180px
      +rwdmax(1024)
        width: 150px
        margin-left: auto
      +rwdmax(767)
        width: 130px
      &::before
        padding-bottom: 100%
        +pseudo($pos: static)
      .headshot
        z-index: -1
        mask-image: url(@/assets/images/index/headshot-frame.svg)
        mask-size: contain
        mask-repeat: no-repeat
        mask-position: center
        transform: scale(.6)
        filter: grayscale(1)
        +posFill
        img
          +fit
    .text-box
      flex: 1
      margin-left: auto
      max-width: 540px
      color: var(--black)
      text-align: right
      padding-top: 60px
      +rwdmax(1024)
        padding-top: 8vh
      +rwdmax(767)
        padding-top: 6vh
      .note
        font-size: px(15)
        line-height: 1.5
        letter-spacing: .05em
      .name
        font-size: px(32)
        letter-spacing: .05em
        font-weight: 500
        line-height: 1.5
        margin-top: 10px
        +rwdmax(767)
          font-size: px(24)
        span
          &.en
            margin-left: 10px
      .slash
        font-size: px(18)
        margin: 15px 5px
      .slogan
        font-size: px(24)
        line-height: 1.5
        letter-spacing: .02em
        +rwdmax(767)
          font-size: px(22)
      p
        width: 90%
        margin-left: auto
        margin-top: 15px
        +brief
        +rwdmax(767)
          width: 95%
          font-size: px(14)
  .letter
    opacity: 0
    transform: translate(0, 100%)
    transition-duration: var(--trans-xl)
    transition-timing-function: var(--trans-timing)

// works
section.works
  position: relative
  height: 200vh
  .scroll-detect
    position: absolute
    top: 100vh
  .works-wrap
    position: sticky
    z-index: 1
    top: 0
    left: 0
    height: 100vh
    overflow: hidden
  .container
    height: 100%
    padding-top: max(10vh, 60px)
    padding-bottom: max(15vh, 100px)
  .block-content
    position: relative
    display: flex
    align-items: center
    width: 100%
    height: 100%
    margin-top: -23px
    +rwdmax(1024)
      margin-top: max(4vh, 40px)
  ul
    counter-reset: num
    display: flex
  .each-work
    width: 36vw
    min-width: 500px
    +rwdmax(767)
      min-width: 300px
    & + .each-work
      margin-left: 60px
      +rwdmax(767)
        margin-left: 30px
    a
      display: block
      &:hover
        .photo-box
          filter: grayscale(.4)
          .photo
            &::before
              opacity: .5
    .photo-box
      position: relative
      z-index: -1
      width: 100%
      filter: grayscale(1)
      overflow: hidden
      transition: filter var(--trans-l)
      &::before
        padding-bottom: 75%
        +pseudo($pos: static)
        +rwdmax(1024)
          +portrait
            padding-bottom: 125%
          +landscape          
            padding-bottom: 56.25%
      .photo
        z-index: -1
        overflow: hidden
        +posFill($left: -40%, $w: 140%)
        &::before
          z-index: 0
          background-image: linear-gradient(to bottom, rgba(0, 0, 0, .4), rgba(0, 0, 0, .8))
          transition: opacity var(--trans-l)
          +posFill
          +pseudo
      img
        position: relative
        z-index: -1
        +fit
    .text-box
      margin-top: 25px
      padding-left: 50px
      padding-right: 50px
      .title
        position: relative
        font-size: px(22)
        text-transform: uppercase
        letter-spacing: .05em
        line-height: 1.5
        +rwdmax(767)
          font-size: px(18)
        &::before
          position: absolute
          left: -50px
          top: 5px
          counter-increment: num
          content: '/ ' counters(num, '.', decimal-leading-zero)
          font-family: $Brief
          font-size: px(13)
          font-weight: 300
          letter-spacing: .2em
      .sub-title
        font-size: px(15)
        letter-spacing: .05em
        line-height: 1.5
        margin-top: 5px
        +rwdmax(767)
          font-size: px(14)

// projects
section.projects
  padding-top: clamp(50px, 10vh, 120px)
  padding-bottom: clamp(50px, 10vh, 120px)
  ul
    counter-reset: num
    margin-top: 60px
  .each-project
    transition: opacity var(--trans-m)
    border-bottom: 1px solid #999
    border-top: 1px solid #999
    opacity: .9
    &:first-child
      margin-top: -1px
    &.is-disable
      opacity: .2
    a
      display: flex
      align-items: flex-end
      padding: 50px 60px
      transition: opacity var(--trans)
      +rwdmax(1024)
        display: block
      +rwdmax(900)
        padding: 40px 30px
      +rwdmax(767)
        padding: 40px 20px
      &:hover
        .brief, .tech
          opacity: 1
    .info
      flex: 1
      padding-left: 50px
      margin-right: 80px
      +rwdmax(1024)
        margin-right: 0
      +rwdmax(767)
        padding-left: 0
    .title
      position: relative
      font-size: px(22)
      text-transform: uppercase
      letter-spacing: .05em
      line-height: 1.5
      &::before
        position: absolute
        left: -50px
        top: 5px
        counter-increment: num
        content: '/ ' counters(num, '.', decimal-leading-zero)
        font-family: $Brief
        font-size: px(12)
        font-weight: 300
        letter-spacing: .2em
        +rwdmax(767)
          position: static
          display: block
          margin-bottom: 25px
    .brief
      margin-top: 10px
      max-width: 450px
      transition: opacity var(--trans-m)
      opacity: .6
      +brief
    .tech
      width: 25%
      font-size: px(13)
      font-family: $Brief
      font-weight: 300
      letter-spacing: .1em
      line-height: 1.8
      transition: opacity var(--trans-m)
      opacity: .6
      +rwdmax(1024)
        width: 100%
        padding-left: 50px
        margin-top: 25px
      +rwdmax(767)
        padding-left: 0
    .photo-box
      position: fixed
      z-index: -1
      top: 0
      left: 0
      width: 60%
      max-width: 450px
      filter: grayscale(.5)
      overflow: hidden
      &::before
        padding-bottom: 54.5%
        +pseudo($pos: static)
    .photo
      z-index: -1
      opacity: 0
      filter: blur(10px)
      transition: opacity var(--trans-s), filter var(--trans-l)
      +posFill
      img
        +fit

// figure
section.figure
  padding-top: clamp(100px, 20vh, 240px)
  padding-bottom: clamp(100px, 20vh, 240px)
  .photo-box
    position: relative
    width: 80%
    overflow: hidden
    +rwdmax(1280)
      width: 85%
    &::before
      padding-bottom: 56.25%
      +pseudo($pos: static)
      +rwdmax(1024)
        padding-bottom: 75%
      +rwdmax(767)
        padding-bottom: 150%
  .photo
    filter: grayscale(.4)
    +posFill($h: 160%, $top: -60%)
    img
      +fit
      +rwdmax(767)
        object-position: 30% center

// contact
section.contact
  padding-top: 10vh
  padding-bottom: clamp(60px, 20vh, 200px)
  overflow: hidden
  .name
    margin-top: clamp(60px, 20vh, 200px)
    span
      font-weight: 300
      font-family: $Brief
      letter-spacing: .05em
      &.tw
        font-size: px(14)
      &.en
        font-size: px(12)
        margin-left: 10px
  .slash
    font-size: px(18)
    margin: 60px 5px 30px
  .mail
    position: relative
    font-weight: 300
    font-size: clamp(32px, 5.5vw, 80px)
    line-height: 1.2
    span
      position: relative
      z-index: 1
    .leaf
      position: absolute
      z-index: -1
      right: 10%
      top: -150%
      width: 100px
      transform: rotate(120deg)
      pointer-events: none
      filter: grayscale(.4)
      +rwdmax(767)
        right: -10%
        width: 80px
      img
        width: 100%
  .links
    margin-top: max(80px, 20vh)
    display: flex
    justify-content: flex-end
    a
      font-family: $Brief
      font-size: px(12)
      letter-spacing: .1em
      padding: 5px
      margin: -5px
      & + a
        margin-left: 30px
